{% load i18n %}
<html>
<head>
  <meta charset="utf-8">
  {{form.media}}
  <script type="text/javascript">
    $(function() {
      $("a.cancel_button").click(function() {
        $.colorbox.close();
        return false;
      });
      $(document).bind('cbox_complete', function(){

        var s = "{% block title %}{% endblock %}";
        while(true) {
          var so = s;
          s = so.replace("&#39;", "'");
          if (s===so) break;
        }
        
        $("#cboxTitle").text(s);
      });
    });
  </script>
  {% block extra_head %}{% endblock %}
</head>
<body>
  <div class="main">
  <form id="template-form" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} action="{% block form_url %}{% endblock %}" method="post">
  {% csrf_token %}
  {% block form_fields %}
  <table class="popup_form">
      {{form.as_table}}
  </table>
  {% endblock %}
  <div class="popup_buttons">
  {% block popup_buttons %}
  <a href="" class="cancel_button">{% trans "Cancel" %}</a>
  <input type="submit" value="{% block form_ok %}{% trans "Ok" %}{% endblock %}">
  {% endblock %}
  </div>
  </form>
  </div>
</body>
</html>